<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="/css/imgstyle.css" rel="stylesheet">
<body>
<div id="main-container">
You have uploaded this image :
 <br>
 <img src="<%=message%>"></img>
<a href="/">Upload another file?</a>
</div>
</body>
